<!DOCTYPE html>
{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
  <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
        <style lang="css">
            input[type=number]::-webkit-inner-spin-button,
            input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        </style>
  </head>
  <body>
      <form action="{% url 'cdetails' %}" onsubmit="return valid()" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <h1>Customer {{ n }} Details Form  </h1>
          {% comment %}{% if n == 1 %}
            {% if not totamt == invamount %}

            {% endif %}
          {% endif %}{% endcomment %}
          <label for="c_owner_name">Customer Owner Name:</label>
            <input type="text" maxlength="50" placeholder="Specify same name which is in the Invoice"  name="c_owner_name" id="c_owner_name" required/>
          <label for="cb_name">Customer's Business Name:</label>
          <input type="text" maxlength="50" id="cb_name"  name="cb_name" required/>
          <label for="cb_contact">Customer Business Contact No:</label>
            <input type="number" maxlength="10" oninput="this.value=this.value.slice(0,this.maxLength)" id="cb_contact" name="cb_contact" required/>
          <label for="cb_email">Customer Email Id:</label>
          <input type="email" maxlength="40" id="cb_email" name="cb_email" required/>
          <label for="cb_address">Customer's Business Address:</label>
            <textarea id="cb_address" style="resize:none" minlength="10" rows="4" maxlength="150" name="cb_address" required></textarea>
          <label for="c_type">Customer's Business Type:</label>
            <input type="text" id="c_type" maxlength="30" placeholder="Eg: Manufacture,Retail,Textile,etc"  name="c_type" required/>
          <label for="cb_relation" >Relationship Between Customer and Business:</label>
            <input type="number" maxlength="2" min="1"  id="cb_relation" placeholder="Should be minimum 2 years" name="cb_relation" oninput="this.value=this.value.slice(0,this.maxLength)"  required/>
          <!--<label for="c_pan_no">Customer PAN:</label>
            <input type="text"  name="c_pan_no"/> -->
          <label for="c_bus_pan_no">Customer's Business PAN:</label>
            <input type="text" maxlength="10" id="c_bus_pan_no" name="c_bus_pan_no" oninput="this.value=this.value.slice(0,this.maxLength)"  />
          <label for="c_est_date">Customer's Business Establish Date:</label>
            <input type="date" id="c_est_date" name="c_est_date"/>
          <label for="c_turnover">Turnover of Customer's Business:</label>
            <input type="number" id="c_turnover" min="10000" name="c_turnover" maxlength="8" oninput="this.value=this.value.slice(0,this.maxLength)" />
          <label for="c_invoice_no">Customer's invoice Number:</label>
            <input type="number" min="1" maxlength="4" id="c_invoice_no" name="c_invoice_no" oninput="this.value=this.value.slice(0,this.maxLength)"/>
          <label for="c_invoice_amount">Customer's invoice amount:</label>
            <input type="number" min="50000" placeholder="Invoice amount must be greaterthan 50k and lessthan 2Lakhs" id="c_invoice_amount"
                   name="c_invoice_amount" maxlength="6" oninput="this.value=this.value.slice(0,this.maxLength)" />
          <label for="c_invoice_issue_date">Invoice Issue Date:</label>
            <input type="date" id="c_invoice_issue_date" name="c_invoice_issue_date"/>
          <label for="c_invoice_due_date">Invoice Due Date:</label>
            <input type="date" id="c_invoice_due_date" name="c_invoice_due_date" />
          <p>Accepted File Types: .doc/.docx/pdf/png/jpg</p>
          <label for="c_file_audit">Customer Audit:</label>
          <input type="file" accept="image/*,.docx,.doc,.pdf" name="c_file_audit" id="c_file_audit">
            <br/><label for="c_file_saleledger">Customer Sales Ledger:</label>
          <input type="file" accept="image/*,.docx,.doc,.pdf" name="c_file_saleledger" id="c_file_saleledger">
            <br/><label for="c_file_invoice">Customer Invoice:</label>
          <input type="file" accept="image/*,.docx,.doc,.pdf" name="c_file_invoice" id="c_file_invoice">
            <br/><label for="c_file_statement">Customer File Statement:</label>
            <input type="file" accept="image/*,.docx,.doc,.pdf" name="c_file_statement" id="c_file_statement">
          <br/>
          <button name="Submit">Submit</button>
      </form>
    </body>
    <script>
      //var totamt_from_invoicedetails = {{ invamount}};
      //var totamt_from_customers = {{ totamt}};
      //var n = {{ n }};
     let today = new Date(),
           day = today.getDate(),
           month = today.getMonth()+1, //January is 0
           year = today.getFullYear();
         if(day<10){
             day='0'+day}
        if(month<10){
            month='0'+month}
        today = year+'-'+month+'-'+day;
        console.log(today);
        document.getElementById("c_est_date").setAttribute("max", today);
        document.getElementById("c_est_date").setAttribute("value", today);
    function valid() {
           var regex = /^[a-zA-Z ]*$/;
           var format = /[!#$%^&*()+\-=\[\]{};':"\\|,<>\/?]/;
           var issd = document.getElementById("c_invoice_issue_date").value;
           var dued = document.getElementById("c_invoice_due_date").value;
           var t = Math.floor(( Date.parse(dued) - Date.parse(issd) ) / 86400000);
           //document.getElementById("c_invoice_issue_date").setAttribute("max", today1);
           //document.getElementById("c_invoice_issue_date").setAttribute("value", today1);
           var newdate = new Date();
           var b = newdate.getDate()+newdate.getMonth();
           var mydat =  new Date(dued);
           //if(mydat.getDate()>newdate.getDate()){
           if(!(regex.test(document.getElementById("c_owner_name").value)) || format.test(document.getElementById("c_owner_name").value)){
               window.alert("Customer Name allows only alphabets!!");
               return false;
           }if(!(isNaN(document.getElementById("cb_name").value)) || format.test(document.getElementById("cb_name").value)){
               window.alert("Customer's Business Name allows only alphabets!!");
               return false;
           }else if(!regex.test(document.getElementById("c_type").value)){
               window.alert(" Customer Type only allows Characters!!");
               return false;
           }else if(document.getElementById("cb_relation").value<2){
               window.alert("Customer-Business Relation Should be minimum of 2 years");
               return false;
           }else if(t < 30){
              window.alert("Due date must have atleast 30 days gap from Issue Date");
              return false;
           }else if(newdate.getDate()>mydat.getDate()){
               window.alert("Invoice Due date should be higher than 10 days from today's date");
               return false;
           }else if(50000>=document.getElementById("c_invoice_amount").value || document.getElementById("c_invoice_amount").value>=200000){
               window.alert("Invoice amount should be greater than 50k and less than 5Lc");
               return false;
           }{% comment %}else if(n === 2){
               if(totamt_from_customers != totamt_from_invoicedetails){
                   window.alert("All Customer's Invoice amount did not match Total Invoice Amount");
                   return false;
               }
           }{% endcomment %}
           else {
               return true;
           }
       }
</script>
{% endblock %}