<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Business Home Page</title>
</head>
<body>
    <div style="padding-top: 50px;">
    <h2>Welcome {{ user.username }}</h2>
    <div class="border-top pt-3">
            <small class=text-muted">Thank you for updating your Business Details, Please click on Apply Loan for New Invoice Details!</small>
        </div>
    <form action="{% url 'home1' %}" method="POST">
        {% csrf_token %}
        &nbsp;&nbsp;
        <button type="submit" style="background-color: #4CAF50;border: none;color: white;padding: 15px 32px;cursor: pointer;"
            name="resume">Apply Invoice Loan</button>
        </form>
    </div>
</body>
{% endblock %}

