<!DOCTYPE html>
{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
  <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Apply New Loan</title>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
        <style lang="css">
            input[type=number]::-webkit-inner-spin-button,
            input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        </style>
  </head>
  <body>

      <form action="" onsubmit="return validation()" enctype="multipart/form-data" method="POST">
      {% csrf_token %}
        <h1>Invoice Details Form</h1>
          <label for="b_turnover">Business Turnover:</label>
          <input type="number" placeholder="Should Be Minimum 10 Lakh Rupees" id="b_turnover" name="b_turnover" maxlength="10" oninput="this.value=this.value.slice(0,this.maxLength)"  required/>
          <p id="demo"></p>
          <label for="b_total_invoice_amount">Total Invoice amount:</label>
          <input type="number" placeholder="Must be Min 1 Lakh and max 2Lakh Rupees" id="b_total_invoice_amount" name="b_total_invoice_amount" maxlength="10" oninput="this.value=this.value.slice(0,this.maxLength)"  required/>
          <p id="demo"></p>
          <label for="b_no_of_invoices">Number of the Invoices:</label>
          <input type="number" placeholder="Allowed upto max of 2 Invoices"  name="b_no_of_invoices" maxlength="1" oninput="this.value=this.value.slice(0,this.maxLength)"  required/>
          <p>Please upload required files of ".docx" type and max size of 1 MB!</p>
          <label for="b_file_audit">Audit File:</label>
          <input type="file" placeholder="" name="b_file_audit" id="b_file_audit">
          <label for="b_file_saleledger">Sales Ledger:</label>
          <input type="file" placeholder="" name="b_file_saleledger" id="b_file_saleledger">
          <br/><br/>
        <button type="submit" onsubmit="validation()">Submit</button>
      </form >

    </body>
    <script>
      function validation() {
        if(document.getElementById("b_turnover").value < 1000000 ) {
            window.alert("Business Turnover must be greater than 10 Lakhs");
            return false;
        }
        if(document.getElementById("b_total_invoice_amount").value<99999 || document.getElementById("b_total_invoice_amount").value> 200001)
        {
            window.alert("Total Invoice Amount must be greater than 1 Lakh and less than 2 Lakh");
            return false;
        }
      }

     /*  inpObj = document.getElementsByName("b_turnover");
        if (inpObj<1000000) {
            document.getElementById("demo").innerHTML = inpObj.validationMessage;
        }
        inpObj = document.getElementsByName("b_total_invoice_amount");
        if (inpObj<100000 || inpObj>1000000) {
            document.getElementById("demo").innerHTML = inpObj.validationMessage;
        } */
    </script>
{% endblock %}