<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Loan Repayment</title>
</head>
<body style="text-align: center; align-content: center">

    <form method="POST">
        {%  crsf_token %}
        <div class="col-lg-6">
            <label for="bid">Business Id:</label>
            <input type="text" id="bid" name="bid"><br>
            <label for="invoice-amt">Invoice Amount:</label>
            <input type="number" id="invoice-amt" name="invoice-amt"><br>
            <button type="submit">Make Payment</button>
        </div>
    </form>
</body>
</html>