<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
    <br/><br/>
    <h2>Welcome {{ user.username }}</h2>
    <div class="border-top pt-3">
            <small class=text-muted">Click on Apply Now and fill the details to apply for New Invoice Loan</small>
        </div>
    <form action="" method="POST">
        {% csrf_token %}
    <button type="submit" name="apply">Apply Now</button>
        </form>
</body>
{% endblock %}
