<!DOCTYPE html>
{% extends 'base.html' %}
{%  load crispy_forms_tags %}

{% block content %}
    <div class="content_sec">

        <form method="POST">
            {% csrf_token %}
            <div class="border-top pt-3">
            <fieldset class="form-group">

                <legend class="border-bottom">Log In</legend>
                {{  form }}
            </fieldset>
            <div class="form-group">
                 <button class="btn btn-outline-info" type="submit">LogIn</button>
            </div>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class=text-muted">Need an Account?<a class="ml-2" href="{% url 'register' %}">SignUp Now!</a>
            </small>
        </div>

    </div>
{% endblock %}
